.container__home {
  background-image: url("https://themebeyond.com/html/movflx/img/banner/banner_bg01.jpg");
  height: 100vh;
  background-size: 100vw 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.custom-container {
  max-width: 720px;
}

.banner-content {
  box-sizing: border-box;
  padding-left: 140px;
  h6 {
    color: #e4d804;
    font-size: 24px;
  }
}

.btn__start {
  background: #12151e none repeat scroll 0 0;
  border: 2px solid #e4d804;
  border-radius: 50px;
  font-size: 12px;
  padding: 16px 34px;
  margin-top: 12px;
  a {
    text-decoration: none;
    color: #e3dfdf;
  }
}
