.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.container__movies {
  display: flex;
  flex-direction: column;
}

input {
  height: 5vh;
  width: 12vw;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #fff;
}
